In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
col_names = ['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio']

df = pd.read_csv('/content/drive/MyDrive/dataset/cardio_train.csv',delimiter=';')
df.head(5)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [ ]:
df.columns

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [ ]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [ ]:
new_df = df[['ap_hi','cholesterol','gluc','smoke']]
new_df.tail(5)

       ap_hi  cholesterol  gluc  smoke
69995    120            1     1      1
69996    140            2     2      0
69997    180            3     1      0
69998    135            1     2      0
69999    120            2     1      0

In [ ]:
max(new_df['gluc'])

3

In [ ]:
max(new_df['cholesterol'])

3

In [ ]:
#lets ckeck the range
print(new_df[new_df['ap_hi'].between(1000,1620)])

       ap_hi  cholesterol  gluc  smoke
8915    1420            2     1      0
13895   1500            1     1      0
25780   1400            1     1      0
28147   1620            2     1      0
36894   1130            1     1      0
41095   1202            1     1      0
43133   1400            2     1      0
43208   1420            2     1      0
43504   1300            3     1      0
48795   1400            1     1      0
50836   1409            1     1      0
57291   1300            1     1      0
57918   1110            1     1      0
63996   1205            1     1      0